@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #03031a;
}

.conteudo{
  height: 520px;
  width: 935px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.barra{
  width: 70px;
  height: 17px;
  border: 2px solid white;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}

.barra:hover{
  background-color: #4242a8;
}

input{
  display: none;
}

.slides{
  display: flex;
  width: 500%;
  height: 100%;
}

.slide{
  width: 20%;
  transition: .6s;
  background-color: #20204f;
}

.slide img{
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .s1{
  margin-left: 0;
}

#slide2:checked ~ .s1{
  margin-left: -20%;
}

#slide3:checked ~ .s1{
  margin-left: -40%;
}

#slide4:checked ~ .s1{
  margin-left: -60%;
}

#slide5:checked ~ .s1{
  margin-left: -80%;
}

#slide6:checked ~ .s1{
  margin-left: -100%;
}

.content1{
  margin-top: 30px;
  margin-left: 30px;
  color: white;
  font-family: 'Share Tech Mono', monospace;
}

.content2{
  margin-top: 30px;
  margin-left: 30px;
  color: white;
  font-family: 'Share Tech Mono', monospace;
}

.content3{
  margin-top: 30px;
  margin-left: 30px;
  color: white;
  font-family: 'Share Tech Mono', monospace;
}

.content4{
  margin-top: 30px;
  margin-left: 30px;
  color: white;
  font-family: 'Share Tech Mono', monospace;
}

.content5{
  margin-top: 30px;
  margin-left: 30px;
  color: white;
  font-family: 'Share Tech Mono', monospace;
}

#foto{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid white;
  transition: .6s;
}

#foto:hover{
  width: 220px;
  height: 220px;
}

#brgreen{
  color: #88ff4d;
}

#bryellow{
  color: yellow;
}

#eblue{
  color: #40e2ff;
}

#spink{
  color: #ff4ded;
}

ul li{
  color: #c7efff;
}

#txtobj{
  color: #c7efff;
}
